body {
  margin: 0 auto;
  margin-top: 3rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* border:1px solid red; */
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Custom */

.remove-header {
  margin-top: -3rem;
}

.form-floating>label {
  left: 20px;
}

