body {
  margin: 0 auto;
  margin-top: 3rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* border:1px solid red; */
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* ============================================================
CUSTOM 
============================================================ */

.remove-header {
  margin-top: -3rem;
}

.form-floating>label {
  left: 20px;
}

.img-fluid {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ============================================================
PAGE BANNER 
============================================================ */

.page-title {
  color: #FFF;
}

.banner { 
  position: relative;
  background-attachment: fixed;
  background-image: url(../images/banners/pexels-wendy-wei-1190297.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16.875rem 0;
  margin-top: 3.5rem;
}

.banner_not-found {
  background-image: url(../images/banners/pexels-designecologist-2526105.jpg);

}
.banner_home {
  background-image: url(../images/banners/pexels-wendy-wei-1190297.jpg);

}
.banner_login,
.banner_register {
  background-image: url(../images/banners/pexels-wendy-wei-1190297.jpg);
  padding: 10rem 0;
}
.banner_events {
  background-image: url(../images/banners/pexels-teddy-yang-2263436.jpg);

}
.banner_events-going {
  background-image: url(../images/banners/pexels-tommy-lopez-3025096.jpg);

}
.banner_user-editor {
  background-image: url(../images/banners/pexels-wolfgang-2747449.jpg);

}

.banner-inner {
  position: relative;
  display: flex;
  justify-content: center;
}

.banner-content {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #191919;
  opacity: 0.65;
}

/* ============================================================
RESPONSIVE 
============================================================ */

@media (max-width: 767.98px) { 
  .rounded-start {
    border-bottom-left-radius: 0!important;
    border-top-right-radius: var(--bs-border-radius)!important;
  }
}